<!-- Image and text -->
<nav class="navbar  navbar-dark" id="menu">
  <a class="navbar-brand" href="#">
    <img
      src="https://i.ibb.co/jzqrWsc/Logo.png"
      height="30"
      alt="esportDATA logo"
    />
    <div id="titre" class="navbar-brand">
      eSport<span class="data">DATA</span>
    </div>
  </a>
  <a class="navbar-brand " routerLink="/detailsFiche">Nos Joueurs</a>
  <!-- Formulaire d'inscription -->
  <button
    type="button"
    mdbBtn
    color="default"
    rounded="true"
    data-toggle="modal"
    data-target="#basicExample"
    (click)="frame.show()"
    mdbWavesEffect
  >
    S'inscrire
  </button>

  <div
    mdbModal
    #frame="mdbModal"
    class="modal fade left"
    id="frameModalTop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Inscription</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="frame.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input
              type="text"
              id="orangeForm-name"
              class="form-control validate"
              [formControl]="signupFormModalName"
              mdbInputDirective
            />
            <label data-error="wrong" data-success="right" for="orangeForm-name"
              >Votre nom</label
            >
          </div>
          <div class="md-form mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input
              type="email"
              id="orangeForm-email"
              class="form-control validate"
              [formControl]="signupFormModalEmail"
              mdbInputDirective
            />
            <label
              data-error="wrong"
              data-success="right"
              for="orangeForm-email"
              >Votre email</label
            >
          </div>

          <div class="md-form mb-4">
            <i class="fa fa-lock prefix grey-text"></i>
            <input
              type="password"
              id="orangeForm-pass"
              class="form-control validate"
              [formControl]="signupFormModalPassword"
              mdbInputDirective
            />
            <label data-error="wrong" data-success="right" for="orangeForm-pass"
              >Votre mot de passe</label
            >
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
            S'inscrire
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
