<app-header></app-header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" id="titre">
        <h1>Bienvenue sur eSport<span class="data">DATA</span></h1>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-6">
        <!-- Search form -->
        <input
          class="form-control"
          id="search"
          type="text"
          placeholder="Rechercher un joueur"
          aria-label="Search"
        />
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row" id="go">
      <div class="col-4"></div>
      <div class="col-6"><button class="btn blue-gradient">GO !</button></div>
      <div class="col-4"></div>
    </div>
    <div class="row" id="end">
      <div class="col-4"></div>
      <div class="col-6">
        <button class="btn blue-gradient">Creer ma fiche !</button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</body>
